*.iml
*.ipr
*.ids
*.iws
.idea/

.project
.metadata
local.properties
.classpath
.settings/
.loadpath


target/

.gradle

# Ignore everything in build dir except app jar
build/*
!build/libs
build/libs/*
!build/libs/spring-music.jar

*.log*
/classes/
